
.chatroom {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y:coloumn;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .messages {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  
  .messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow-wrap: anywhere;
    max-width: 220px;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  
.messages .user {
    background-color: #f2c8ae;
    align-self: flex-end;
    border-radius: 50px 50px 0px 50px;
  }
  
  .messages .bot {
    background-color: #f0f0f0;
    align-self: flex-start;
    border-radius: 50px 50px 50px 0px;
  }
  
  
  /* .messages li:nth-child(odd) {
    background-color: #f0f0f0;
    align-self: flex-start;
  }
  
  .messages li:nth-child(even) {
    background-color: #d0f0d0;
    align-self: flex-end;
  } */
  
  form {
    display: flex;
  }
  
  form input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 20px;
    margin-right: 1px;
  }
  
  form button {
    padding: 5px 10px;
    /*border-radius: 10px;*/
    margin-left: 1px;
    /* background-image: url(send.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* ChatRoom.css */
.header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color:color-mix(in srgb, #34c9eb 20%, rgb(108, 166, 130) 30%);
  
}
  /* .user,
.bot {
  max-width: 70%; /* Limit chat bubble width */
  /* margin-bottom: 8px;
}

.user {
  align-self: flex-end;
}

.bot {
  align-self: flex-start;
} */
